.portfolio-section {
  min-height: 100vh;
  padding: 5rem 0 5rem;
}

.portfolio-section__title {
  width: 100%;
  padding: 0 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: 3.75rem;
  margin-bottom: 2.5rem;
}

.portfolio-section__title h2 {
  display: inline-block;
  color: var(--bg-black-900);
  font-size: 1.87rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.portfolio-section__title h2::before {
  content: attr(data-heading);
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--skin-color);
}

.portfolio-section__filter {
  padding: 0 0.93rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 1.25rem;
}

.portfolio-section__filter .filter-item {
  display: inline-block;
  margin: 0 0.31rem 0.62rem;
  padding: 0.31rem 0.62rem;
  border-radius: 1.87rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--text-black-600);;
  text-transform: capitalize;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-section__filter .filter-item:hover(:not(.active)) {
  opacity: 0.6;
}

.portfolio-section__filter .filter-item.active {
  color: var(--skin-color);
}

.portfolio-section .portfolio__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 0.93rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.portfolio-section .portfolio__item-details {
  display: none;
}

.portfolio-section .portfolio__item-inner {
  padding: 0.93rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.portfolio-section .portfolio__item-inner:hover .view-project {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.portfolio-section .portfolio__item-inner:hover .portfolio__item-img img {
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
}

.portfolio-section .portfolio__item-inner p {
  font-size: 1rem;
  color: var(--text-black-600);;
  margin: 0.62rem 0 0;
  text-transform: capitalize;
}

.portfolio-section .portfolio__item-img {
  position: relative;
}

.portfolio-section .portfolio__item-img img {
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-section .portfolio__item.hide {
  display: none;
}

.portfolio-section .portfolio__item.show {
  display: block;
  -webkit-animation: fadeInTop 0.5s ease;
  animation: fadeInTop 0.5s ease;
}

.portfolio-section .view-project {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--skin-color);
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -4px;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  z-index: -1;
  opacity: 0;
}

/* Portfolio popup styles*/
.portfolio-popup {
  background-color: var(--bg-black-50);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-popup .separation {
  height: 1px;
  width: 100%;
  background-color: #ddd;
}

.portfolio-popup .pp__details {
  max-width: 1140px;
  width: calc(85% + 30px);
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-popup .pp__details-inner {
  padding: 3.75rem 0;
}

.portfolio-popup .pp__details.active {
  opacity: 1;
}

.portfolio-popup .pp-img {
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 0.62rem;
}

.portfolio-popup .pp__main {
  min-height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio-popup .pp__main-inner {
  position: relative;
  padding: 4.37rem 0 3.12rem;
}

.portfolio-popup .pp__main-inner-project-details {
  position: absolute;
  left: 0;
  top: 0.93rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--skin-color);
  border-radius: 30px;
  cursor: pointer;
  height: 40px;
  padding: 0 0.93rem;
  line-height: 40px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.portfolio-popup .pp__main-inner-project-details::after {
  border-radius: 30px;
}

.portfolio-popup .pp__main-inner-project-details i {
  margin-left: 4px;
}

.portfolio-popup .pp__main-inner-close {
  position: absolute;
  right: 0;
  top: 0.93rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.9rem;
  line-height: 35px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--text-black-600);;
}

.portfolio-popup .pp__main-inner-close::after {
  border-radius: 50%;
}

.portfolio-popup .pp__main .pp-counter {
  position: absolute;
  height: 40px;
  line-height: 40px;
  right: 0;
  bottom: 5px;
  font-size: 1rem;
}

.portfolio-popup .pp__main-prev,
.portfolio-popup .pp__main-next {
  position: fixed;
  top: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 1.25rem;
  z-index: 1010;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.portfolio-popup .pp__main-prev:hover,
.portfolio-popup .pp__main-next:hover {
  opacity: 1;
}

.portfolio-popup .pp__main-prev i,
.portfolio-popup .pp__main-next i {
  line-height: 40px;
}

.portfolio-popup .pp__main-prev i {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.portfolio-popup .pp__main-prev {
  left: 15px;
}

.portfolio-popup .pp__main-next {
  right: 15px;
}

.portfolio-popup .description {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
  padding: 0 0.93rem;
}

.portfolio-popup .description p {
  font-size: 1rem;
  color: var(--text-black-600);;
  line-height: 26px;
  margin: 0;
}

.portfolio-popup .pp__deatils-title {
  padding: 0 0.93rem;
}

.portfolio-popup .pp__deatils-title h2 {
  font-size: 1.75rem;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 0.3rem;
}

.portfolio-popup .pp__deatils-title p {
  font-weight: 600;
  font-size: 0.87rem;
  color: var(--text-black-600);;
  margin: 0 0 0.93rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.93rem;
}

.portfolio-popup .pp__deatils-title p span {
  font-weight: 400;
  text-transform: capitalize;
}

.portfolio-popup .info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
  padding: 0 0.93rem;
}

.portfolio-popup .info ul li {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-black-600);;
  margin-bottom: 0.62rem;
}

.portfolio-popup .info ul li:last-child {
  margin-bottom: 0;
}

.portfolio-popup .info ul li a {
  color: var(--skin-color);
}

.portfolio-popup .pp__details-project-details h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #555;
  margin: 0 0 0.93rem;
  text-transform: capitalize;
}

.portfolio-popup.open {
  visibility: visible;
  opacity: 1;
}

.portfolio-popup .pp-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1005;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.portfolio-popup .pp-loader .portfolio-popup .pp-loader.active {
  visibility: visible;
  opacity: 1;
}

.portfolio-popup .pp-loader div {
  width: 50px;
  height: 50px;
  border: 4px solid var(--skin-color);
  border-radius: 50%;
  border-right: 4px solid transparent;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* /Portfolio popup styles*/
