/* Service styles */
.services-section__title {
    width: 100%;
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 3.75rem;
  }
  
  .services-section__title h2 {
    display: inline-block;
    color: var(--text-black-900);
    font-size: 1.87rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }
  
  .services-section__title h2::before {
    content: attr(data-heading);
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: var(--skin-color);
  }
  
  .services-section {
    min-height: 100vh;
    padding: 5rem 0 5rem;
  }
  
  .services-section .service-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding: 0.93rem;
  }
  
  .services-section .service-item__inner {
    padding: 3.12rem 0.93rem;
    border-radius: 5px;
    text-align: center;
  }
  
  .services-section .service-item .icon {
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    display: block;
    margin: 0 auto 1.87rem;
    position: relative;
  }
  
  .services-section .service-item .icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .services-section .service-item .icon i {
    font-size: 25px;
    line-height: 60px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .services-section .service-item h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 0.31rem;
    text-transform: capitalize;
  }
  
  .services-section .service-item p {
    font-size: 1rem;
    color: var(--text-black-600);;
    line-height: 26px;
  }
  
  .service-item__inner:hover .icon i {
    color: var(--skin-color);
  }
  
  .service-item__inner:hover .icon {
    -webkit-box-shadow: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
    box-shadow: var(--outer-shadow-0);
  }
  
  .service-item__inner:hover .icon::after {
    -webkit-box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    box-shadow: var(--outer-shadow);
  }
/* Service styles */